body {
  background: #eee;
  font-family: sans-serif;
}

.card, .button-container, .content, .title {
  padding: 7px;
  margin: 10px auto;
}

.card {
  width: 400px;
  background: #fff;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  display: block;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
}